<div class="">
  <app-navigation></app-navigation>

  <div class="w-[1200px] mx-auto">
    <div class="grid place-items-center h-[500px]">
      <div class="relative">
        <h1 class="font-black text-6xl text-slate-700 relative z-20">
          <span>Air</span>lines System
        </h1>
        <img
          src="../../../assets/plane.png"
          alt=""
          class="w-[300px] absolute -top-[80px] z-10 -right-[100px] opacity-60"
        />
      </div>
    </div>
    <h2
      routerLink="/home"
      class="font-black text-lg bg-gray-200 text-slate-900 w-fit px-6 py-3 rounded-lg shadow-md cursor-pointer mx-auto mt-[100px] hover:bg-purple-700 transition-all hover:text-slate-100"
    >
      <i class="fad fa-map-marked-alt mr-2"></i>
      Book a flight now!
    </h2>
  </div>
</div>
