<div class="">
  <app-navigation></app-navigation>

  <div class="">
    <div>
      <section class="text-gray-700">
        <div class="container px-5 py-24 mx-auto">
          <div class="text-center mb-20">
            <h1
              class="sm:text-3xl text-2xl font-medium text-center title-font text-gray-900 mb-4"
            >
              Frequently Asked Question
            </h1>
            <p class="text-base leading-relaxed xl:w-2/4 lg:w-3/4 mx-auto">
              The most common questions about airlines system
            </p>
          </div>
          <div class="flex flex-wrap lg:w-4/5 sm:mx-auto sm:mb-2 -mx-2">
            <div class="w-full lg:w-1/2 px-4 py-2">
              <details class="mb-4">
                <summary
                  class="font-semibold bg-gray-200 rounded-md py-2 px-4 cursor-pointer"
                >
                  How do I change or cancel my trip?
                </summary>

                <span>
                  The 24-hour rule is a federal regulation that allows you to
                  book a flight and then cancel for a full refund within 24
                  hours. There are two important caveats: the flight must be
                  booked directly from the airline, and it must be scheduled at
                  least seven days out. You can cancel the flight in the system
                  the same with reserving them online.
                </span>
              </details>
              <details class="mb-4">
                <summary
                  class="font-semibold bg-gray-200 rounded-md py-2 px-4 cursor-pointer"
                >
                How far in advance can I book a flight?
                </summary>

                <span>
                  You can book a flight up to 331 days in advance.
                </span>
              </details>
              <details class="mb-4">
                <summary
                  class="font-semibold bg-gray-200 rounded-md py-2 px-4 cursor-pointer"
                >
                Will I get my reserved seat?
                </summary>

                <span>
                  Yes. Your specific seat reservation/request will be pre-selected when you check in for your flight online.
                </span>
              </details>
            </div>

            <div class="w-full lg:w-1/2 px-4 py-2">
              <details class="mb-4">
                <summary
                  class="font-semibold bg-gray-200 rounded-md py-2 px-4 cursor-pointer"
                >
                  How many passengers can I book in one reservation?
                </summary>

                <span>
                  You can atleast book 1-5 passengers in one reservation.
                </span>
              </details>
              <details class="mb-4">
                <summary
                  class="font-semibold bg-gray-200 rounded-md py-2 px-4 cursor-pointer"
                >
                  Will I be charged to change a reservation made by a travel
                  agency or another website?
                </summary>

                <span>
                  Yes. An additional charge (per person) will be required for
                  reservations made by travel agents or through another website
                  that are changed by our Reservations, airport or Travel Center
                  personnel.
                </span>
              </details>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>
