<div class="">
  <app-navigation></app-navigation>

  <div class="w-[1200px] mx-auto grid place-items-center h-[500px]">
    <div class="">
      <form
        class="bg-white w-[400px] p-4 rounded-lg shadow-md"
        (ngSubmit)="onSubmit()"
        [formGroup]="loginForm"
        autocomplete="off"
      >
        <h1 class="font-bold text-2xl text-slate-700 mb-4">Login</h1>

        <input
          type="email"
          placeholder="Email"
          class="w-full py-3 px-4 outline-none rounded-md bg-slate-100 text-sm mb-4"
          required
          formControlName="email"
        />
        <input
          type="password"
          placeholder="Password"
          class="w-full py-3 px-4 outline-none rounded-md bg-slate-100 text-sm mb-4"
          required
          formControlName="password"
        />
        <button
          type="submit"
          class="bg-purple-900 text-slate-50 font-semibold text-center w-full py-3 rounded-md hover:bg-purple-800 transition-all"
        >
          Login
        </button>
      </form>
    </div>
  </div>
</div>
