<div class="">
  <app-admin-navigation></app-admin-navigation>

  <div class="w-[1200px] mx-auto py-20">
    <h1 class="font-black text-3xl text-slate-700">Dashboard</h1>

    <div class="grid grid-cols-[400px_1fr_1fr] gap-5 mt-5">
      <div
        class="bg-slate-500 text-white p-10 rounded-xl shadow-lg hover:bg-slate-500/80 cursor-pointer transition-all flex justify-between"
        routerLink="/admin/flights"
      >
      <i class="fad fa-plane-departure text-[90px]"></i>
        <div class="">
          <div class="font-bold text-4xl">{{ flights.length ? flights.length : 0 }}</div>
          <span class="">{{ flights.length > 1 ? "Flights" : "Flight" }}</span>
        </div>
      </div>
      <div
        class="bg-purple-500 text-white p-10 rounded-xl shadow-lg hover:bg-purple-500/80 cursor-pointer transition-all  flex justify-between"
        routerLink="/admin/bookings"
      >
      <i class="fad fa-atlas text-[90px]"></i>
        <div class="">
          <div class="font-bold text-4xl">{{ bookings.length ? bookings.length : 0 }}</div>
          <span>Booked Flights</span>
        </div>
      </div>
      <div
        class="bg-orange-500 text-white p-10 rounded-xl shadow-lg hover:bg-orange-500/80 cursor-pointer transition-all flex justify-between"
        routerLink="/admin/customers"
      >
      <i class="fad fa-users text-[90px]"></i>
        <div class="">
          <div class="font-bold text-4xl">{{ users.length ? users.length : 0 }}</div>
          <span>{{ users.length > 1 ? "Customers" : "Customer" }}</span>
        </div>
      </div>
    </div>
  </div>
</div>
